<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.rc.dao.RcServiceMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.rc.model.RcService" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="describe" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR" />
    <result column="UPT_USER" property="uptUser" jdbcType="VARCHAR" />
    <result column="UPT_TIME" property="uptTime" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="IS_CACHE" property="isCache" jdbcType="CHAR"/>
    <result column="TIME_OUT" property="timeout" jdbcType="DECIMAL"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RC_SERVICE
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.rc.model.RcService" >
    insert into RC_SERVICE (PK_ID, NAME, DESCRIPTION,
      TYPE, APP_ID, DEL_FLG, CRT_USER, 
      CRT_TIME, UPT_USER, UPT_TIME, STATUS, IS_CACHE, TIME_OUT
      )
    values (#{pkId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, #{crtUser,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=VARCHAR}, #{uptUser,jdbcType=VARCHAR}, #{uptTime,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
      #{isCache,jdbcType=CHAR}, #{timeout,jdbcType=DECIMAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.rc.model.RcService" >
    update RC_SERVICE
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{describe,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      APP_ID = #{appId,jdbcType=VARCHAR},
      DEL_FLG = #{delFlg,jdbcType=CHAR},
      CRT_USER = #{crtUser,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=VARCHAR},
      UPT_USER = #{uptUser,jdbcType=VARCHAR},
      UPT_TIME = #{uptTime,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      IS_CACHE = #{isCache,jdbcType=CHAR},
      TIME_OUT = #{timeout,jdbcType=DECIMAL}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where DEL_FLG = '0'
    order by NAME ASC
  </select>

  <!-- 逻辑删除-->
  <update id="deleteByPrimaryKeyFake" parameterType="java.lang.String"  >
    update RC_SERVICE
    set DEL_FLG = '1'
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>

  <select id="selectPage" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.rc.dto.RcServiceView">
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where DEL_FLG = '0'
    <if test="name!='' and name!=null ">and NAME like '%'||#{name}||'%'</if>
    <if test="describe!='' and describe!=null ">and DESCRIPTION like '%'||#{describe}||'%'</if>
    <if test="appId!='' and appId!=null ">and APP_ID =#{appId}</if>
    <if test="type!='' and type!=null ">and TYPE = #{type}</if>
    <if test="crtTimeStart!=null and crtTimeStart!='' ">and CRT_TIME >= #{crtTimeStart}</if>
    <if test="crtTimeEnd!=null and crtTimeEnd!='' ">and #{crtTimeEnd} >= CRT_TIME</if>
    <if test="uptTimeStart!=null and uptTimeStart!='' ">and UPT_TIME >= #{uptTimeStart}</if>
    <if test="uptTimeEnd!=null and uptTimeEnd!='' ">and #{uptTimeEnd} >= UPT_TIME</if>
    <if test="crtUser!='' and crtUser!=null ">and CRT_USER like '%'||#{crtUser}||'%'</if>
    <if test="uptUser!='' and uptUser!=null ">and UPT_USER like '%'||#{uptUser}||'%'</if>
    <if test="status!='' and status!=null ">and STATUS =#{status}</if>
    <if test="isCache!='' and isCache!=null ">and IS_CACHE =#{isCache}</if>
    order by NAME asc
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where DEL_FLG = '0'
    and NAME = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectAuthInfo" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, name SERVICE_NAME,TYPE SERVICE_TYPE, DESCRIPTION, TYPE,DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>

  <select id="selectByType" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where DEL_FLG = '0'
    and TYPE = #{serviceType,jdbcType=VARCHAR}
  </select>

  <select id="selectByServiceName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
   UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where DEL_FLG = '0' AND STATUS = '0'
    and NAME = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectByAppTypeAndAppId" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.rc.model.RcService" >
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where DEL_FLG = '0'
    and TYPE = #{type,jdbcType=VARCHAR}
    and APP_ID = #{appId,jdbcType=VARCHAR}
  </select>

  <select id="selectStartByAppTypeAndAppId" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.rc.model.RcService" >
    select PK_ID, NAME, DESCRIPTION, TYPE, APP_ID, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, STATUS, IS_CACHE, TIME_OUT
    from RC_SERVICE
    where DEL_FLG = '0' and STATUS = '0'
    and TYPE = #{type,jdbcType=VARCHAR}
    and APP_ID = #{appId,jdbcType=VARCHAR}
  </select>

  <update id="updateStatus" parameterType="com.hex.bigdata.udsp.rc.model.RcService" >
    update RC_SERVICE
    set STATUS = #{status,jdbcType=CHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>

</mapper>