<ehcache xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="schema/ehcache.xsd"
         updateCheck="false" dynamicConfig="false" monitoring="autodetect">

    <!--
        diskStore path:用来配置磁盘缓存使用的物理路径
        name: 缓存名称,cache的唯一标识(ehcache会把这个cache放到HashMap里)
        eternal="false"   元素是否永恒,如果是就永不过期(必须设置)
        maxElementsOnDisk="1000" 磁盘缓存中最多可以存放的元素数量,0表示无穷大
        maxElementsInMemory="1000" 内存缓存中最多可以存放的元素数量(必须设置)
        timeToIdleSeconds="0"   导致元素过期的访问间隔(秒为单位). 0表示可以永远空闲,默认为0
        timeToLiveSeconds="600" 元素在缓存里存在的时间(秒为单位). 0 表示永远存在不过期
        overflowToDisk="false"  当缓存达到maxElementsInMemory值是,是否允许溢出到磁盘(必须设置)
        diskPersistent="false"  磁盘缓存在VM重新启动时是否保持(默认为false)
        diskExpiryThreadIntervalSeconds="100" 磁盘失效线程运行时间间隔,默认是120秒
        memoryStoreEvictionPolicy="LFU" 内存存储与释放策略.当达到maxElementsInMemory时
               共有三种策略,分别为LRU(最近最少使用)、LFU(最常用的)、FIFO(先进先出)默认使用"最近使用"策略
    -->
    <!-- 注：用到范围搜索时，必须要有<searchable keys="true"></searchable>且overflowToDisk="false" -->

    <diskStore path="java.io.tmpdir"/>

    <cache name="udspCache"
           maxElementsOnDisk="30000"
           maxElementsInMemory="1000000"
           eternal="true"
           timeToIdleSeconds="0"
           timeToLiveSeconds="0"
           overflowToDisk="false"
           diskPersistent="false"
           diskExpiryThreadIntervalSeconds="120"
           memoryStoreEvictionPolicy="LFU">
        <searchable keys="true"></searchable>
    </cache>

    <!-- RMI手工配置方式，需要配置其他几个的IP地址 -->
    <!--
        <cacheManagerPeerProviderFactory
            class="net.sf.ehcache.distribution.RMICacheManagerPeerProviderFactory"
            properties="hostName=localhost,
            port=4567,
            socketTimeoutMillis=2000,
            peerDiscovery=manual,
            rmiUrls=//192.168.0.12:4567/ehcache|//192.168.0.13:4567/ehcache"
        />
    -->

    <!-- RMI自动发现方式，需要配置多播的IP地址 -->
    <!-- 同时组播地址可以指定 D 类 IP 地址空间，范围从 224.0.1.0 到 238.255.255.255 中的任何一个地址 -->
    <!--
    <cacheManagerPeerProviderFactory
            class="net.sf.ehcache.distribution.RMICacheManagerPeerProviderFactory"
            properties="peerDiscovery=automatic,
            multicastGroupAddress=230.0.0.1,
            multicastGroupPort=4446,
            timeToLive=32"
    />
    <cacheManagerPeerListenerFactory
            class="net.sf.ehcache.distribution.RMICacheManagerPeerListenerFactory"
            properties="socketTimoutMillis=2000"
    />
    <cache name="udspCache"
           maxElementsInMemory="1000000"
           eternal="true"
           timeToIdleSeconds="0"
           timeToLiveSeconds="0"
           memoryStoreEvictionPolicy="LFU">
        <cacheEventListenerFactory
                class="net.sf.ehcache.distribution.RMICacheReplicatorFactory"
                properties="replicateAsynchronously=true,
                replicatePuts=true,
                replicateUpdates=true,
                replicateUpdatesViaCopy=false,
                replicateRemovals=true"
        />
        <searchable keys="true"></searchable>
    </cache>
    -->

</ehcache>