<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.rts.dao.RtsConsumerMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.rts.model.RtsConsumer" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="MD_ID" property="mdId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="describe" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR" />
    <result column="UPT_USER" property="uptUser" jdbcType="VARCHAR" />
    <result column="UPT_TIME" property="uptTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="FullResultMap" type="com.hex.bigdata.udsp.rts.dto.RtsConsumerView" extends="BaseResultMap">
    <result column="MD_NAME" property="mdName" jdbcType="VARCHAR" />
    <result column="MD_DESC" property="mdTopic" jdbcType="VARCHAR" />
    <result column="MD_TOPIC" property="mdTopic" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RTS_CUSTOMER_CONFIG
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.rts.model.RtsConsumer" >
    insert into RTS_CUSTOMER_CONFIG (PK_ID, MD_ID, NAME, DESCRIPTION,
      NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME)
    values (#{pkId,jdbcType=VARCHAR}, #{mdId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, #{crtUser,jdbcType=VARCHAR},
      #{crtTime,jdbcType=VARCHAR}, #{uptUser,jdbcType=VARCHAR}, #{uptTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.rts.model.RtsConsumer" >
    update RTS_CUSTOMER_CONFIG
    set
      MD_ID = #{mdId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{describe,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      DEL_FLG = #{delFlg,jdbcType=CHAR},
      CRT_USER = #{crtUser,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=VARCHAR},
      UPT_USER = #{uptUser,jdbcType=VARCHAR},
      UPT_TIME = #{uptTime,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, MD_ID, NAME, DESCRIPTION, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME
    from RTS_CUSTOMER_CONFIG
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, MD_ID, NAME, DESCRIPTION, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME
    from RTS_CUSTOMER_CONFIG
    where DEL_FLG = '0'
  </select>
  <!-- 逻辑删除-->
  <update id="deleteByPrimaryKeyFake" parameterType="java.lang.String"  >
    update RTS_CUSTOMER_CONFIG
    set DEL_FLG = '1'
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectPage" resultMap="FullResultMap" parameterType="com.hex.bigdata.udsp.rts.dto.RtsConsumerProsView">
    select cc.PK_ID, cc.MD_ID, cc.NAME, cc.DESCRIPTION, cc.NOTE, cc.DEL_FLG, cc.CRT_USER, cc.CRT_TIME,
    cc.UPT_USER, cc.UPT_TIME, md.NAME as MD_NAME, md.DESCRIPTION as MD_DESC, md.TOPIC as MD_TOPIC
    from RTS_CUSTOMER_CONFIG cc
    left join RTS_METADATA md
    on cc.MD_ID=md.PK_ID and md.DEL_FLG = '0'
    where cc.DEL_FLG = '0'
    <if test="mdId!='' and mdId!=null ">and cc.MD_ID = #{mdId,jdbcType=VARCHAR}</if>
    <if test="name!='' and name!=null ">and cc.NAME like '%'||#{name}||'%'</if>
    <if test="describe!='' and describe!=null ">and cc.DESCRIPTION like '%'||#{describe}||'%'</if>
    <if test="note!='' and note!=null ">and cc.NOTE like '%'||#{note}||'%'</if>
    <if test="crtTimeStart!=null and crtTimeStart!='' ">and cc.CRT_TIME >= #{crtTimeStart}</if>
    <if test="crtTimeEnd!=null and crtTimeEnd!='' ">and #{crtTimeEnd} >= cc.CRT_TIME</if>
    <if test="uptTimeStart!=null and uptTimeStart!='' ">and cc.UPT_TIME >= #{uptTimeStart}</if>
    <if test="uptTimeEnd!=null and uptTimeEnd!='' ">and #{uptTimeEnd} >= cc.UPT_TIME</if>
    <if test="crtUser!='' and crtUser!=null ">and cc.CRT_USER like '%'||#{crtUser}||'%'</if>
    <if test="uptUser!='' and uptUser!=null ">and cc.UPT_USER like '%'||#{uptUser}||'%'</if>
    order by cc.NAME asc
  </select>
  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, MD_ID, NAME, DESCRIPTION, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME
    from RTS_CUSTOMER_CONFIG
    where DEL_FLG = '0'
    and NAME = #{name,jdbcType=VARCHAR}
  </select>
</mapper>