<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.common.dao.ComDatasourceMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.common.model.ComDatasource" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="describe" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR" />
    <result column="UPT_USER" property="uptUser" jdbcType="VARCHAR" />
    <result column="UPT_TIME" property="uptTime" jdbcType="VARCHAR" />
    <result column="IMPL_CLASS" property="implClass" jdbcType="VARCHAR" />
    <result column="MODEL" property="model" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="GFDict" type="com.hex.goframe.model.GFDict" >
    <id column="DICT_TYPE_ID" property="dictTypeId" jdbcType="VARCHAR" />
    <result column="DICT_ID" property="dictId" jdbcType="VARCHAR" />
    <result column="DICT_NAME" property="dictName" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="SORT_NO" property="sortNo" jdbcType="INTEGER" />
    <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="SEQNO" property="seqno" jdbcType="VARCHAR" />
    <result column="APPID" property="appid" jdbcType="VARCHAR" />
    <result column="FILTER" property="filter" jdbcType="VARCHAR" />
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from COM_DATASOURCE
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <update id="deleteByPrimaryKeyFake" parameterType="java.lang.String" >
    update COM_DATASOURCE set DEL_FLG = '1' where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.common.model.ComDatasource" >
    insert into COM_DATASOURCE (PK_ID, NAME, DESCRIPTION, TYPE, NOTE, DEL_FLG, CRT_USER,
      CRT_TIME, UPT_USER, UPT_TIME, IMPL_CLASS, MODEL)
    values (#{pkId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, #{crtUser,jdbcType=VARCHAR}, 
      #{crtTime,jdbcType=VARCHAR}, #{uptUser,jdbcType=VARCHAR}, #{uptTime,jdbcType=VARCHAR}, 
      #{implClass,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.common.model.ComDatasource" >
    update COM_DATASOURCE
    set NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{describe,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      DEL_FLG = #{delFlg,jdbcType=CHAR},
      CRT_USER = #{crtUser,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=VARCHAR},
      UPT_USER = #{uptUser,jdbcType=VARCHAR},
      UPT_TIME = #{uptTime,jdbcType=VARCHAR},
      IMPL_CLASS = #{implClass,jdbcType=VARCHAR},
      MODEL = #{model,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, NAME, DESCRIPTION, TYPE, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, IMPL_CLASS, MODEL
    from COM_DATASOURCE
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, NAME, DESCRIPTION, TYPE, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, IMPL_CLASS, MODEL
    from COM_DATASOURCE
    order by NAME asc
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.common.dto.ComDatasourceView" >
    select A.PK_ID, A.NAME, A.DESCRIPTION, A.TYPE, A.NOTE, A.DEL_FLG, A.CRT_USER, A.CRT_TIME, A.UPT_USER,
    A.UPT_TIME, A.IMPL_CLASS, A.MODEL
    from COM_DATASOURCE A
    where A.DEL_FLG = '0'
    <if test="pkId!='' and pkId!=null ">and A.PK_ID = #{pkId}</if>
    <if test="name!='' and name!=null ">and A.NAME like '%' || #{name} || '%'</if>
    <if test="describe!='' and describe!=null ">and A.DESCRIPTION like '%' || #{describe} || '%'</if>
    <if test="note!='' and note!=null ">and A.NOTE like '%' || #{note} || '%'</if>
    <if test="type!='' and type!=null ">and A.TYPE = #{type}</if>
    <if test="crtTimeStart!=null and crtTimeStart!='' ">and A.CRT_TIME >= #{crtTimeStart}</if>
    <if test="crtTimeEnd!=null and crtTimeEnd!='' ">and #{crtTimeEnd} >= A.CRT_TIME</if>
    <if test="uptTimeStart!=null and uptTimeStart!='' ">and A.UPT_TIME >= #{uptTimeStart}</if>
    <if test="uptTimeEnd!=null and uptTimeEnd!='' ">and #{uptTimeEnd} >= A.UPT_TIME</if>
    <if test="crtUser!='' and crtUser!=null ">and A.CRT_USER like '%' || #{crtUser} || '%'</if>
    <if test="uptUser!='' and uptUser!=null ">and A.UPT_USER like '%' || #{uptUser} || '%'</if>
    <if test="implClass!='' and implClass!=null ">and A.IMPL_CLASS like '%' #{implClass} || '%'</if>
    <if test="model!='' and model!=null ">and A.MODEL = #{model}</if>
    <if test="model=='IM' and imDsTypeDictId!='' and imDsTypeDictId!=null">
      and exists (select 1 from t_gf_dict b where b.dict_type_id = #{imDsTypeDictId} and A.type = b.dict_id)
    </if>
    order by A.NAME asc
  </select>
  <select id="selectByModel" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select A.PK_ID, A.NAME, A.DESCRIPTION, A.TYPE, A.NOTE, A.DEL_FLG, A.CRT_USER, A.CRT_TIME, A.UPT_USER,
    A.UPT_TIME, A.IMPL_CLASS, A.MODEL
    from COM_DATASOURCE A
    where A.DEL_FLG = '0'
    and A.MODEL = #{model}
    order by A.NAME asc
  </select>
  <select id="selectByModelAndName" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.common.model.ComDatasource" >
    select A.PK_ID, A.NAME, A.DESCRIPTION, A.TYPE, A.NOTE, A.DEL_FLG, A.CRT_USER, A.CRT_TIME, A.UPT_USER,
    A.UPT_TIME, A.IMPL_CLASS, A.MODEL
    from COM_DATASOURCE A
    where A.DEL_FLG = '0'
    and A.MODEL = #{model,jdbcType=VARCHAR}
    and A.NAME = #{name,jdbcType=VARCHAR}
  </select>

  <select id="selectParameterBySourceId" parameterType="java.lang.String" resultMap="GFDict">
    select GFD.*
	from T_GF_DICT GFD
	left join COM_DATASOURCE CD
	on GFD.DICT_TYPE_ID = 'IM_MODEL_PROPS_'||CD.TYPE
	where CD.PK_ID = #{sourceId}
    and exists (
    select 1
    from T_GF_DICT GF
    where (GF.DICT_TYPE_ID = 'IM_DS_SOURCE_REALTIME_TYPE'
    or GF.DICT_TYPE_ID =  'IM_DS_SOURCE_BATCH_TYPE')
    and GF.DICT_ID = CD.TYPE
    )
  </select>

  <select id="selectImSourceDs" resultMap="BaseResultMap">
    select PK_ID, NAME, DESCRIPTION, TYPE, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, IMPL_CLASS, MODEL
    from COM_DATASOURCE CD
    where CD.DEL_FLG = '0'
    and CD.MODEL = 'IM'
    and exists (
    select 1
    from  T_GF_DICT GF
    where (GF.DICT_TYPE_ID = 'IM_DS_SOURCE_REALTIME_TYPE'
    or GF.DICT_TYPE_ID =  'IM_DS_SOURCE_BATCH_TYPE')
    and GF.DICT_ID = CD.TYPE
    )
    order by NAME asc
  </select>


  <select id="checkSourceType" resultMap="GFDict" parameterType="java.lang.String">
    select *
    from T_GF_DICT GF
    left join COM_DATASOURCE CD
    on CD.TYPE = GF.DICT_ID
    where GF.DICT_TYPE_ID = 'IM_DS_SOURCE_REALTIME_TYPE'
    and CD.PK_ID = #{sourceId}
  </select>

  <select id="selectEngineDs" resultMap="BaseResultMap">
    select PK_ID, NAME, DESCRIPTION, TYPE, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, IMPL_CLASS, MODEL
    from COM_DATASOURCE CD
    where CD.DEL_FLG = '0'
    and CD.MODEL = 'IM'
    and exists (
    select 1
    from  T_GF_DICT GF
    where GF.DICT_TYPE_ID = 'IM_MODEL_ENGINE_TYPE'
    and GF.DICT_ID = CD.TYPE
    )
    order by NAME asc
  </select>
</mapper>