<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.rts.dao.RtsMatedataMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.rts.model.RtsMatedata" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="DS_ID" property="dsId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="describe" jdbcType="VARCHAR" />
    <result column="TOPIC" property="topic" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR" />
    <result column="UPT_USER" property="uptUser" jdbcType="VARCHAR" />
    <result column="UPT_TIME" property="uptTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="FullResultMap" type="com.hex.bigdata.udsp.rts.dto.RtsMatedataView" extends="BaseResultMap">
    <result column="DS_NAME" property="dsName" jdbcType="VARCHAR" />
    <result column="DS_TYPE" property="dsType" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RTS_METADATA
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.rts.model.RtsMatedata" >
    insert into RTS_METADATA (PK_ID, DS_ID, NAME, 
      DESCRIPTION, NOTE, TOPIC,DEL_FLG, CRT_USER,
      CRT_TIME, UPT_USER, UPT_TIME)
    values (#{pkId,jdbcType=VARCHAR}, #{dsId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR},
      #{note,jdbcType=VARCHAR}, #{topic,jdbcType=VARCHAR}, #{delFlg,jdbcType=CHAR}, #{crtUser,jdbcType=VARCHAR},
      #{crtTime,jdbcType=VARCHAR}, #{uptUser,jdbcType=VARCHAR}, #{uptTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.rts.model.RtsMatedata" >
    update RTS_METADATA
    SET
    NAME = #{name,jdbcType=VARCHAR},
    DESCRIPTION = #{describe,jdbcType=VARCHAR},
    DS_ID = #{dsId,jdbcType=VARCHAR},
    NOTE = #{note,jdbcType=VARCHAR},
    TOPIC = #{topic,jdbcType=VARCHAR},
    DEL_FLG = #{delFlg,jdbcType=CHAR},
    CRT_USER = #{crtUser,jdbcType=VARCHAR},
    CRT_TIME = #{crtTime,jdbcType=VARCHAR},
    UPT_USER = #{uptUser,jdbcType=VARCHAR},
    UPT_TIME = #{uptTime,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, DS_ID, NAME, DESCRIPTION, NOTE, TOPIC,DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME
    from RTS_METADATA
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, DS_ID, NAME, DESCRIPTION, NOTE, TOPIC,DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME
    from RTS_METADATA
    where DEL_FLG = '0'
  </select>


  <!-- 逻辑删除-->
  <update id="deleteByPrimaryKeyFake" parameterType="java.lang.String"  >
    update RTS_METADATA
    set DEL_FLG = '1'
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>

  <select id="selectPage" resultMap="FullResultMap" parameterType="com.hex.bigdata.udsp.rts.dto.RtsMatedataView">
    select md.PK_ID, md.DS_ID, md.NAME, md.DESCRIPTION, md.NOTE, md.TOPIC,md.DEL_FLG, md.CRT_USER, md.CRT_TIME, md.UPT_USER,
    md.UPT_TIME,ds.NAME AS  DS_NAME,ds.TYPE AS DS_TYPE
    from RTS_METADATA md
    LEFT JOIN COM_DATASOURCE ds
    ON md.DS_ID=ds.PK_ID
    where md.DEL_FLG = '0'
    <if test="name!='' and name!=null ">and md.NAME like '%'||#{name}||'%'</if>
    <if test="describe!='' and describe!=null ">and md.DESCRIPTION like '%'||#{describe}||'%'</if>
    <if test="note!='' and note!=null ">and md.NOTE LIKE '%'||#{note}||'%'</if>
    <if test="topic!='' and topic!=null ">and md.TOPIC LIKE '%'||#{topic}||'%'</if>
    <if test="dsName!='' and dsName!=null ">and ds.NAME  like '%'||#{dsName}||'%'</if>
    <if test="dsType!='' and dsType!=null ">and ds.TYPE = #{dsType}</if>
    <if test="crtTimeStart!=null and crtTimeStart!='' ">and md.CRT_TIME >= #{crtTimeStart}</if>
    <if test="crtTimeEnd!=null and crtTimeEnd!='' ">and #{crtTimeEnd} >= md.CRT_TIME</if>
    <if test="uptTimeStart!=null and uptTimeStart!='' ">and md.UPT_TIME >= #{uptTimeStart}</if>
    <if test="uptTimeEnd!=null and uptTimeEnd!='' ">and #{uptTimeEnd} >= md.UPT_TIME</if>
    <if test="crtUser!=null and crtUser!='' ">and md.CRT_USER like '%'||#{crtUser}||'%'</if>
    <if test="uptUser!=null and uptUser!='' ">and md.UPT_USER like '%'||#{uptUser}||'%'</if>
    order by md.UPT_TIME desc, md.CRT_TIME desc, md.NAME asc
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
   select PK_ID, DS_ID, NAME, DESCRIPTION, NOTE,TOPIC, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME
    from RTS_METADATA
    where DEL_FLG = '0'
    and NAME = #{name,jdbcType=VARCHAR}
  </select>

    <select id="selectAppIdsByMdid" resultType="java.lang.String" parameterType="java.lang.String">
      select PK_ID
      from RTS_CUSTOMER_CONFIG
      where MD_ID = #{pkId,jdbcType=VARCHAR}
      and DEL_FLG = '0'

      union all

      select PK_ID
      from RTS_PRODUCRER_CONFIG
      where MD_ID =  #{pkId,jdbcType=VARCHAR}
      and DEL_FLG = '0'
    </select>

    <select id="selectListByDsid" parameterType="java.lang.String" resultMap="BaseResultMap">
      select PK_ID, DS_ID, NAME, DESCRIPTION, NOTE,TOPIC, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
      UPT_TIME
      from RTS_METADATA
      where DEL_FLG = '0'
      and DS_ID = #{dsId,jdbcType=VARCHAR}
    </select>
</mapper>