<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.rts.dao.RtsProducerMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.rts.model.RtsProducer" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="MD_ID" property="mdId" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="describe" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="DEL_FLG" property="delFlg" jdbcType="CHAR" />
    <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR" />
    <result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR" />
    <result column="UPT_USER" property="uptUser" jdbcType="VARCHAR" />
    <result column="UPT_TIME" property="uptTime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="FullResultMap" type="com.hex.bigdata.udsp.rts.dto.RtsProducerView" extends="BaseResultMap">
    <result column="DS_NAME" property="dsName" jdbcType="VARCHAR" />
    <result column="MD_NAME" property="mdName" jdbcType="VARCHAR" />
    <result column="DS_TYPE" property="dsType" jdbcType="VARCHAR" />
    <result column="MD_TOPIC" property="mdTopic" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from RTS_PRODUCRER_CONFIG
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.rts.model.RtsProducer" >
    insert into RTS_PRODUCRER_CONFIG (PK_ID, MD_ID, NAME, DESCRIPTION, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME)
    values (#{pkId,jdbcType=VARCHAR}, #{mdId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR},
      #{delFlg,jdbcType=CHAR}, #{crtUser,jdbcType=VARCHAR}, #{crtTime,jdbcType=VARCHAR}, 
      #{uptUser,jdbcType=VARCHAR}, #{uptTime,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.rts.model.RtsProducer" >
    update RTS_PRODUCRER_CONFIG
    set MD_ID = #{mdId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{describe,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      DEL_FLG = #{delFlg,jdbcType=CHAR},
      CRT_USER = #{crtUser,jdbcType=VARCHAR},
      CRT_TIME = #{crtTime,jdbcType=VARCHAR},
      UPT_USER = #{uptUser,jdbcType=VARCHAR},
      UPT_TIME = #{uptTime,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, MD_ID, NAME, DESCRIPTION,  NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME
    from RTS_PRODUCRER_CONFIG
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, MD_ID, NAME, DESCRIPTION,  NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME
    from RTS_PRODUCRER_CONFIG
    where DEL_FLG = '0'
  </select>

  <!-- 逻辑删除-->
  <update id="deleteByPrimaryKeyFake" parameterType="java.lang.String"  >
    update RTS_PRODUCRER_CONFIG
    set DEL_FLG = '1'
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>

  <select id="selectPage" resultMap="FullResultMap" parameterType="com.hex.bigdata.udsp.rts.dto.RtsProducerView">
    select pc.PK_ID, pc.MD_ID, pc.NAME, pc.DESCRIPTION, pc.NOTE, pc.DEL_FLG, pc.CRT_USER, pc.CRT_TIME, pc.UPT_USER,
    pc.UPT_TIME,md.NAME as MD_NAME,md.TOPIC as MD_TOPIC,ds.NAME as DS_NAME,ds.TYPE as DS_TYPE
    from RTS_PRODUCRER_CONFIG pc
    LEFT JOIN RTS_METADATA md
    ON pc.MD_ID=md.PK_ID
    LEFT JOIN COM_DATASOURCE ds
    ON md.DS_ID=ds.PK_ID
    where pc.DEL_FLG = '0'
    <if test="mdId!='' and mdId!=null ">and pc.MD_ID = #{mdId,jdbcType=VARCHAR}</if>
    <if test="name!='' and name!=null ">and pc.NAME like '%'||#{name}||'%'</if>
    <if test="dsName!='' and dsName!=null ">and ds.NAME like '%'||#{dsName}||'%'</if>
    <if test="mdName!='' and mdName!=null ">and md.NAME like '%'||#{mdName}||'%'</if>
    <if test="mdTopic!='' and mdTopic!=null ">and md.TOPIC  like '%'||#{mdTopic}||'%'</if>
    <if test="dsType!='' and dsType!=null ">and ds.TYPE = #{dsType}</if>
    <if test="describe!='' and describe!=null ">and pc.DESCRIPTION like '%'||#{describe}||'%'</if>
    <if test="note!='' and note!=null ">and pc.NOTE LIKE '%'||#{note}||'%'</if>
    <if test="crtTimeStart!=null and crtTimeStart!='' ">and pc.CRT_TIME >= #{crtTimeStart}</if>
    <if test="crtTimeEnd!=null and crtTimeEnd!='' ">and #{crtTimeEnd} >= pc.CRT_TIME</if>
    <if test="uptTimeStart!=null and uptTimeStart!='' ">and pc.UPT_TIME >= #{uptTimeStart}</if>
    <if test="uptTimeEnd!=null and uptTimeEnd!='' ">and #{uptTimeEnd} >= pc.UPT_TIME</if>
    <if test="crtUser!='' and crtUser!=null ">and pc.CRT_USER like '%'||#{crtUser}||'%'</if>
    <if test="uptUser!='' and uptUser!=null ">and pc.UPT_USER like '%'||#{uptUser}||'%'</if>
    order by pc.NAME asc
  </select>

  <select id="selectByName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, MD_ID, NAME, DESCRIPTION, NOTE, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, UPT_TIME
    from RTS_PRODUCRER_CONFIG
    where DEL_FLG = '0'
    and NAME = #{name,jdbcType=VARCHAR}
  </select>
</mapper>