<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.mm.dao.MmApplicationMapper">
    <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.mm.model.MmApplication">
        <id column="PK_ID" property="pkId" jdbcType="VARCHAR"/>
        <result column="MODEL_ID" property="modelId" jdbcType="VARCHAR"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="DESCRIBE" property="describe" jdbcType="VARCHAR"/>
        <result column="MAX_NUM" property="maxNum" jdbcType="DECIMAL"/>
        <result column="DEL_FLG" property="delFlg" jdbcType="CHAR"/>
        <result column="CRT_USER" property="crtUser" jdbcType="VARCHAR"/>
        <result column="CRT_TIME" property="crtTime" jdbcType="VARCHAR"/>
        <result column="UPT_USER" property="uptUser" jdbcType="VARCHAR"/>
        <result column="UPT_TIME" property="uptTime" jdbcType="VARCHAR"/>
        <result column="NOTE" property="note" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="FullResultMap" type="com.hex.bigdata.udsp.mm.dto.MmApplicationView" extends="BaseResultMap">
        <result column="MODEL_NAME" property="modelName" jdbcType="VARCHAR"/>
        <result column="CONTRACTOR" property="contractor" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="FullAppInfoMap" type="com.hex.bigdata.udsp.mm.dto.MmFullAppInfoView">
        <result column="APP_ID" property="appId" jdbcType="VARCHAR"/>
        <result column="MODEL_NAME" property="modelName" jdbcType="VARCHAR"/>
        <result column="MODEL_TYPE" property="modelType" jdbcType="VARCHAR"/>
        <result column="CONTRACTOR_NAME" property="contractorName" jdbcType="VARCHAR"/>
        <result column="HTTP_URL" property="httpUrl" jdbcType="VARCHAR"/>
        <result column="MAX_NUM" property="maxNum" jdbcType="DECIMAL"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from MM_APPLICATION
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.hex.bigdata.udsp.mm.model.MmApplication">
    insert into MM_APPLICATION (PK_ID, MODEL_ID, NAME, 
      DESCRIBE, MAX_NUM, DEL_FLG, 
      CRT_USER, CRT_TIME, UPT_USER, 
      UPT_TIME, NOTE)
    values (#{pkId,jdbcType=VARCHAR}, #{modelId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{maxNum,jdbcType=DECIMAL}, #{delFlg,jdbcType=CHAR}, 
      #{crtUser,jdbcType=VARCHAR}, #{crtTime,jdbcType=VARCHAR}, #{uptUser,jdbcType=VARCHAR}, 
      #{uptTime,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.mm.model.MmApplication">
    update MM_APPLICATION
    set MODEL_ID = #{modelId,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIBE = #{describe,jdbcType=VARCHAR},
      MAX_NUM = #{maxNum,jdbcType=DECIMAL},
      UPT_USER = #{uptUser,jdbcType=VARCHAR},
      UPT_TIME = #{uptTime,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
    select PK_ID, MODEL_ID, NAME, DESCRIBE, MAX_NUM, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, 
    UPT_TIME, NOTE
    from MM_APPLICATION
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select PK_ID, MODEL_ID, NAME, DESCRIBE, MAX_NUM, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER, 
    UPT_TIME, NOTE
    from MM_APPLICATION
    WHERE DEL_FLG = '0'
  </select>
    <!-- 逻辑删除-->
    <update id="deleteByPrimaryKeyFake" parameterType="java.lang.String">
    update MM_APPLICATION
    set DEL_FLG = '1'
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>

    <select id="selectPage" resultMap="FullResultMap" parameterType="com.hex.bigdata.udsp.mm.dto.ModelInfoView">
        select app.PK_ID, app.MODEL_ID, app.NAME, app.DESCRIBE, app.MAX_NUM, app.DEL_FLG, app.CRT_USER, app.CRT_TIME,
        app.UPT_USER,
        app.UPT_TIME, app.NOTE,info.NAME AS MODEL_NAME,mc.cn_name AS CONTRACTOR
        from udsp.MM_APPLICATION app
        LEFT JOIN udsp.MM_MODEL_INFO info
        ON info.PK_ID=app.MODEL_ID
        left join udsp.mm_contractor mc
        on info.contractor = mc.pk_id
        where app.DEL_FLG = '0'
        <if test="name!='' and name!=null ">and app.NAME like '%'||#{name}||'%'</if>
        <if test="describe!='' and describe!=null ">and app.DESCRIBE like '%'||#{describe}||'%'</if>
        <if test="modelId!='' and modelId!=null ">and app.MODEL_ID =#{modelId}</if>
        <if test="modelName!='' and modelName!=null ">and info.NAME like '%'||#{modelName}||'%'</if>
        <if test="crtTimeStart!=null and crtTimeStart!='' ">and app.CRT_TIME >= #{crtTimeStart}</if>
        <if test="crtTimeEnd!=null and crtTimeEnd!='' ">and #{crtTimeEnd} >= app.CRT_TIME</if>
        <if test="uptTimeStart!=null and uptTimeStart!='' ">and app.UPT_TIME >= #{uptTimeStart}</if>
        <if test="uptTimeEnd!=null and uptTimeEnd!='' ">and #{uptTimeEnd} >= app.UPT_TIME</if>
        <if test="crtUser!='' and crtUser!=null ">and app.CRT_USER like '%'||#{crtUser}||'%'</if>
        <if test="uptUser!='' and uptUser!=null ">and app.UPT_USER like '%'||#{uptUser}||'%'</if>
        <if test="contractor!='' and contractor!=null ">and mc.pk_id = #{contractor}</if>
        order by app.UPT_TIME desc, app.CRT_TIME desc, app.NAME asc

    </select>


    <!--查询名称是否重复-->
    <select id="selectByName" resultMap="BaseResultMap">
    select PK_ID, MODEL_ID,NAME, DESCRIBE, MAX_NUM, DEL_FLG,CRT_USER,
    CRT_TIME,UPT_USER,UPT_TIME,NOTE
    from MM_APPLICATION
    where NAME = #{name,jdbcType=VARCHAR}
  </select>
<select id="selectFullAppInfo" resultMap="FullAppInfoMap" parameterType="java.lang.String">
    select app.PK_ID as APP_ID, app.MAX_NUM, mi.NAME as MODEL_NAME, mi.MODEL_TYPE,
    c.NAME as CONTRACTOR_NAME,c.HTTP_URL
    from mm_application app
    left join MM_MODEL_INFO mi
    on mi.PK_ID = app.MODEL_ID
    left join MM_CONTRACTOR c
    on c.PK_ID = mi.CONTRACTOR
    where app.PK_ID = #{pkId,jdbcType=VARCHAR}
</select>
<select id="selectByModelId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select PK_ID, MODEL_ID, NAME, DESCRIBE, MAX_NUM, DEL_FLG, CRT_USER, CRT_TIME, UPT_USER,
    UPT_TIME, NOTE
    from MM_APPLICATION
    where MODEL_ID = #{modelId,jdbcType=VARCHAR} AND DEL_FLG = '0'
</select>

</mapper>