<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.mm.dao.MmModelParamMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.mm.model.MmModelParam" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="MM_ID" property="mmId" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="CHAR" />
    <result column="LENGTH" property="length" jdbcType="VARCHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR" />
    <result column="COL_TYPE" property="colType" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from MM_MODEL_PARAM
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.mm.model.MmModelParam" >
    insert into MM_MODEL_PARAM (PK_ID, MM_ID, SEQ, 
      NAME, DESCRIBE, TYPE, 
      LENGTH, NOTE, COL_TYPE
      )
    values (#{pkId,jdbcType=VARCHAR}, #{mmId,jdbcType=VARCHAR}, #{seq,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{type,jdbcType=CHAR}, 
      #{length,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{colType,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.mm.model.MmModelParam" >
    update MM_MODEL_PARAM
    set MM_ID = #{mmId,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIBE = #{describe,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=CHAR},
      LENGTH = #{length,jdbcType=VARCHAR},
      NOTE = #{note,jdbcType=VARCHAR},
      COL_TYPE = #{colType,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, MM_ID, SEQ, NAME, DESCRIBE, TYPE, LENGTH, NOTE, COL_TYPE
    from MM_MODEL_PARAM
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, MM_ID, SEQ, NAME, DESCRIBE, TYPE, LENGTH, NOTE, COL_TYPE
    from MM_MODEL_PARAM
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.mm.model.MmModelParam">
    select PK_ID, MM_ID, SEQ, NAME, DESCRIBE, TYPE, LENGTH, NOTE, COL_TYPE
    from MM_MODEL_PARAM
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="pkId!='' and pkId!=null ">and PK_ID = #{pkId}</if>
      <if test="mmId!='' and mmId!=null ">and MM_ID = #{mmId}</if>
      <if test="name!='' and name!=null ">and NAME like '%'||#{name}||'%'</if>
      <if test="describe!='' and describe!=null ">and DESCRIBE like '%'||#{describe}||'%'</if>
      <if test="note!='' and note!=null ">and NOTE like '%'||#{note}||'%'</if>
      <if test="type!='' and type!=null ">and TYPE = #{type}</if>
      <if test="length!='' and length!=null ">and LENGTH = #{length}</if>
      <if test="seq!='' and seq!=null ">and SEQ = #{seq}</if>
      <if test="colType!='' and colType!=null ">and COL_TYPE = #{colType}</if>
    </trim>
    order by SEQ asc
  </select>
  <delete id="deleteByMmId" parameterType="java.lang.String">
    delete from MM_MODEL_PARAM
    where MM_ID = #{mmId,jdbcType=VARCHAR}
  </delete>

</mapper>