<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- goframe3 -->
    <servlet>
        <servlet-name>MVC Dispatcher Servlet</servlet-name>
        <servlet-class>com.hex.goframe.framework.MvcDispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MVC Dispatcher Servlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- TZB ESB -->
    <!--
    <servlet>
        <servlet-name>ESBServer</servlet-name>
        <servlet-class>com.dcfs.esb.server.ESBServer</servlet-class>
        <init-param>
            <param-name>EAI_HOME</param-name>
            <param-value>D:\\BDP\\01工程\\03编码\\UDSP\\out\\production\\console</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ESBServer</servlet-name>
        <url-pattern>/ESBServer</url-pattern>
    </servlet-mapping>
    -->

    <!-- CXF -->
    <servlet>
        <servlet-name>CXFServer</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServer</servlet-name>
        <url-pattern>/cxf/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>eleployeeUpdate</filter-name>
        <filter-class>com.hex.bigdata.udsp.filter.EleployeeUpdateFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>eleployeeUpdate</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>
</web-app>