<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.iq.dao.IqAppQueryColMapper" >
  <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.iq.model.IqAppQueryCol" >
    <id column="PK_ID" property="pkId" jdbcType="VARCHAR" />
    <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
    <result column="SEQ" property="seq" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="describe" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="LENGTH" property="length" jdbcType="VARCHAR" />
    <result column="IS_NEED" property="isNeed" jdbcType="CHAR" />
    <result column="DEFAULT_VAL" property="defaultVal" jdbcType="VARCHAR" />
    <result column="OPERATOR" property="operator" jdbcType="VARCHAR" />
    <result column="LABEL" property="label" jdbcType="VARCHAR" />
    <result column="IS_OFFER_OUT" property="isOfferOut" jdbcType="CHAR" />
    <result column="NOTE" property="note" jdbcType="VARCHAR"/>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from IQ_APPLICATION_QUERY_COLUMN
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.hex.bigdata.udsp.iq.model.IqAppQueryCol" >
    insert into IQ_APPLICATION_QUERY_COLUMN (PK_ID, APP_ID, SEQ, 
      NAME, DESCRIPTION, TYPE,
      LENGTH, IS_NEED, DEFAULT_VAL, 
      OPERATOR, LABEL, IS_OFFER_OUT,NOTE
      )
    values (#{pkId,jdbcType=VARCHAR}, #{appId,jdbcType=VARCHAR}, #{seq,jdbcType=DECIMAL}, 
      #{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{length,jdbcType=VARCHAR}, #{isNeed,jdbcType=CHAR}, #{defaultVal,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{label,jdbcType=VARCHAR}, #{isOfferOut,jdbcType=CHAR},
      #{note,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hex.bigdata.udsp.iq.model.IqAppQueryCol" >
    update IQ_APPLICATION_QUERY_COLUMN
    set APP_ID = #{appId,jdbcType=VARCHAR},
      SEQ = #{seq,jdbcType=DECIMAL},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{describe,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=VARCHAR},
      LENGTH = #{length,jdbcType=VARCHAR},
      IS_NEED = #{isNeed,jdbcType=CHAR},
      DEFAULT_VAL = #{defaultVal,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      LABEL = #{label,jdbcType=VARCHAR},
      IS_OFFER_OUT = #{isOfferOut,jdbcType=CHAR},
      NOTE=#{note,jdbcType=VARCHAR}
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select PK_ID, APP_ID, SEQ, NAME, DESCRIPTION, TYPE, LENGTH, IS_NEED, DEFAULT_VAL, OPERATOR,
    LABEL, IS_OFFER_OUT,NOTE
    from IQ_APPLICATION_QUERY_COLUMN
    where PK_ID = #{pkId,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select PK_ID, APP_ID, SEQ, NAME, DESCRIPTION, TYPE, LENGTH, IS_NEED, DEFAULT_VAL, OPERATOR,
    LABEL, IS_OFFER_OUT,NOTE
    from IQ_APPLICATION_QUERY_COLUMN
  </select>
  <select id="select" resultMap="BaseResultMap" parameterType="com.hex.bigdata.udsp.iq.model.IqAppQueryCol">
    select PK_ID, APP_ID, SEQ, NAME, DESCRIPTION, TYPE, LENGTH, IS_NEED, DEFAULT_VAL, OPERATOR,
    LABEL, IS_OFFER_OUT,NOTE
    from IQ_APPLICATION_QUERY_COLUMN
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="pkId!='' and pkId!=null ">and PK_ID = #{pkId}</if>
      <if test="appId!='' and appId!=null ">and APP_ID = #{appId}</if>
      <if test="seq!='' and seq!=null ">and SEQ = #{seq}</if>
      <if test="name!='' and name!=null ">and NAME like '%'||#{name}||'%'</if>
      <if test="describe!='' and describe!=null ">and DESCRIPTION like '%'||#{describe}||'%'</if>
      <if test="type!='' and type!=null ">and TYPE = #{type}</if>
      <if test="length!='' and length!=null ">and LENGTH = #{length}</if>
      <if test="isNeed!='' and isNeed!=null ">and IS_NEED = #{isNeed}</if>
      <if test="defaultVal!='' and defaultVal!=null ">and DEFAULT_VAL = #{defaultVal}</if>
      <if test="operator!='' and operator!=null ">and OPERATOR = #{operator}</if>
      <if test="label!='' and label!=null ">and LABEL like '%'||#{label}||'%'</if>
      <if test="isOfferOut!='' and isOfferOut!=null ">and IS_OFFER_OUT = #{isOfferOut}</if>
    </trim>
    order by SEQ asc
  </select>
  <delete id="deleteByAppId" parameterType="java.lang.String">
    delete from IQ_APPLICATION_QUERY_COLUMN
    where APP_ID = #{appId,jdbcType=VARCHAR}
  </delete>
</mapper>