<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hex.bigdata.udsp.mc.dao.McUserChartsMapper" >
    <resultMap id="BaseResultMap" type="com.hex.bigdata.udsp.mc.dto.McUserChartsView" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="EMP_ID" property="empId" jdbcType="VARCHAR" />
        <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="MENU_TYPE" property="menuType" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
        <result column="UPDATE_USERID" property="updateUserid" jdbcType="VARCHAR" />
        <result column="APP_ID" property="appId" jdbcType="VARCHAR" />
        <result column="USER_COMMENT" property="userComment" jdbcType="VARCHAR" />
        <result column="VALID_STARTDATE" property="validStartdate" jdbcType="VARCHAR" />
        <result column="VALID_ENDDATE" property="validEnddate" jdbcType="VARCHAR" />
        <result column="success_count" property="requestSuccessCount" jdbcType="INTEGER" />
        <result column="failed_count" property="requestFailedCount" jdbcType="INTEGER" />
    </resultMap>

    <resultMap id="McChartsViewResultMap" type="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        <result column="DATETIME" property="datetime" jdbcType="VARCHAR" />
        <result column="APP_TYPE" property="appType" jdbcType="VARCHAR" />
        <result column="SERVICE_NAME" property="serviceName" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
        <result column="COUNT_NUM" property="countNum" jdbcType="DECIMAL" />
        <result column="STATUS" property="status" jdbcType="CHAR" />
    </resultMap>

    <select id="selectUserStatis" resultMap="BaseResultMap"  parameterType="java.util.Map">
        select loginuser.ID,
        loginuser.EMP_ID,
        loginuser.USER_ID,
        loginuser.USER_NAME,
        loginuser.PASSWORD,
        loginuser.STATUS,
        loginuser.MENU_TYPE,
        loginuser.CREATE_DATE,
        loginuser.UPDATE_USERID,
        loginuser.APP_ID,
        loginuser.USER_COMMENT,
        loginuser.VALID_STARTDATE,
        loginuser.VALID_ENDDATE,
        case
            when USER_STATIS.failed_count is null
            then 0
            else USER_STATIS.failed_count
        end as failed_count,
        case
            when USER_STATIS.success_count is null
            then 0
            else USER_STATIS.success_count
        end as success_count
        from t_gf_loginuser loginuser
        left join (
            select
            case
                when mcselect1.USER_NAME is null
                then mcselect2.USER_NAME
                else mcselect1.USER_NAME
            end as USER_NAME,
            mcselect1.failed_count,
            mcselect2.success_count
            from (
                select distinct mclog.USER_NAME,
                count(mclog.status) as failed_count
                from MC_CONSUME_LOG mclog
                where mclog.status = '1'
                group by mclog.USER_NAME, mclog.STATUS
            ) mcselect1
            full join (
                select
                distinct mclog.USER_NAME,
                count(mclog.status) as success_count
                from MC_CONSUME_LOG mclog
                where mclog.status = '0'
                group by mclog.USER_NAME, mclog.STATUS
            ) mcselect2
            on mcselect1.USER_NAME = mcselect2.USER_NAME
        ) USER_STATIS
        on loginuser.user_id = USER_STATIS.user_name
        <where>
            <if test="userName!=null and userName!=''">
                loginuser.USER_NAME LIKE '%${userName}%'
            </if>
            <if test="userId!=null and userId!=''">
                and loginuser.USER_ID like '%${userId}%'
            </if>
        </where>
        order by success_count desc
    </select>

    <select id="userChart1Second" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,19) as DATETIME, STATUS, COUNT(1) as COUNT_NUM
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,19), STATUS
        order by substr(REQUEST_END_TIME,0,19) asc, STATUS asc
    </select>
    <select id="userChart1Minute" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,16) as DATETIME, STATUS, COUNT(1) as COUNT_NUM
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,16), STATUS
        order by substr(REQUEST_END_TIME,0,16) asc, STATUS asc
    </select>
    <select id="userChart1Hour" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,13) as DATETIME, STATUS, COUNT(1) as COUNT_NUM
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,13), STATUS
        order by substr(REQUEST_END_TIME,0,13) asc, STATUS asc
    </select>
    <select id="userChart1Day" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,10) as DATETIME, STATUS, COUNT(1) as COUNT_NUM
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,10), STATUS
        order by substr(REQUEST_END_TIME,0,10) asc, STATUS asc
    </select>

    <select id="userChart3" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select SERVICE_NAME, STATUS, COUNT(1) as COUNT_NUM
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by SERVICE_NAME, STATUS
        order by SERVICE_NAME asc, STATUS asc
    </select>



    <select id="serviceTimeSecond" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,19) as DATETIME, STATUS, COUNT(1) as COUNT_NUM,USER_NAME,SERVICE_NAME
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,19), STATUS,USER_NAME,SERVICE_NAME
        order by substr(REQUEST_END_TIME,0,19) asc, STATUS asc
    </select>
    <select id="serviceTimeMinute" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,16) as DATETIME, STATUS, COUNT(1) as COUNT_NUM,USER_NAME,SERVICE_NAME
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,16), STATUS,USER_NAME,SERVICE_NAME
        order by substr(REQUEST_END_TIME,0,16) asc, STATUS asc
    </select>
    <select id="serviceTimeHour" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,13) as DATETIME, STATUS, COUNT(1) as COUNT_NUM,USER_NAME,SERVICE_NAME
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,13), STATUS,USER_NAME,SERVICE_NAME
        order by substr(REQUEST_END_TIME,0,13) asc, STATUS asc
    </select>
    <select id="serviceTimeDay" resultMap="McChartsViewResultMap" parameterType="com.hex.bigdata.udsp.mc.dto.McChartsView" >
        select substr(REQUEST_END_TIME,0,10) as DATETIME, STATUS, COUNT(1) as COUNT_NUM,USER_NAME,SERVICE_NAME
        from MC_CONSUME_LOG
        where REQUEST_END_TIME >= #{timeStart}
        and #{timeEnd} >= REQUEST_END_TIME
        <if test="serviceName!=null and serviceName!=''"> AND SERVICE_NAME = #{serviceName} </if>
        <if test="userName!=null and userName!=''"> AND USER_NAME = #{userName} </if>
        group by substr(REQUEST_END_TIME,0,10), STATUS,USER_NAME,SERVICE_NAME
        order by substr(REQUEST_END_TIME,0,10) asc, STATUS asc
    </select>

</mapper>